$breakpointTabletPortrait: 600px;
$breakpointTabletLandscape: 900px;
$breakpointDesktop: 1200px;
$breakpointBigDesktop: 1800px;

@mixin for-tablet-portrait-up {
  @media (min-width: $breakpointTabletPortrait) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: $breakpointTabletLandscape) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: $breakpointDesktop) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: $breakpointBigDesktop) {
    @content;
  }
}
