html {
  // Original Main Orange: #f35a17;
  // --color-main-bg: hsl(18, 95%, 42%);
  --color-main-bg: #d0460b;
  --color-main-bg-light: #ed6d37;

  --color-main-rgba: rgb(208, 70, 11);
  --color-main-rgba-transparent: rgba(243, 90, 23, 0);

  --color-near-white: #f8fafc;
  --color-gray: #bbb;
  --color-gray-light: #ddd;
  --color-gray-lightest: #eee;
  --color-gray-dark: #555;
  --color-gray-darker: #333;
  --color-gray-darkest: #222;
}
