.markdown {
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    list-style-position: inside;
    padding-top: 1rem;
    li {
      margin-bottom: 1rem;
      padding-left: 1rem;
    }
  }
}
