.markdown {
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }

  // h2 {
  //   font-size: 1.5rem;
  //   font-weight: bold;
  //   margin: 0;
  //   padding: 0;
  // }

  p {
    margin-bottom: 1rem;
  }

  ul {
    margin: 0;
    list-style-position: inside;
    padding-top: 1rem;
    li {
      margin-bottom: 1rem;
      padding-left: 1rem;
    }
  }
}
