@import './includes/breakpoints.scss';
@import './includes/colors.scss';
@import './includes/base.scss';
@import './includes/animation.scss';
@import './includes/typography.scss';
@import './includes/markdown.scss';

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  /* VARIABLES */
  --time-sm: 0.2s;
  --time-md: 0.3s;

  /* BREAKPOINTS */
  --breakpoint-tablet-portrait: $breakpointTabletPortrait;
  --breakpoint-tablet-landscape: $breakpointTabletLandscape;
  --breakpoint-desktop: $breakpointDesktop;
  --breakpoint-big-desktop: $breakpointBigDesktop;
}
