.root {
  background-color: purple;
  margin: 0;
  padding: 2rem 0;

  &.align-left {
    text-align: left;
  }
  &.align-right {
    text-align: right;
  }
  &.align-center {
    text-align: center;
  }

  &.variant-default {
    background-color: var(--color-gray-lightest);
    color: var(--color-gray-darkest);
  }
  &.variant-dark {
    background-color: var(--color-gray-darker);
    color: var(--color-gray-light);
  }
  &.variant-primary {
    background-color: var(--color-main-bg);
    color: var(--color-gray-darkest);
  }
}
