.root {
  background-color: var(--color-gray-lightest);
  padding: 2rem 0;
  .breadcrumbWrap {
    margin-bottom: 2rem;
  }
  .mainContent {
    margin-bottom: 2rem;
  }
}
.actionRow {
  text-align: center;
  margin-bottom: 4rem;
}
