@import '../../../styles/modulebase.scss';

.root {
  margin: 0;
  padding: 2rem 0;

  text-align: center;

  &.align-left {
    @include for-tablet-landscape-up {
      text-align: left;
    }
  }
  &.align-right {
    @include for-tablet-landscape-up {
      text-align: right;
    }
  }

  p {
    font-size: 1.2rem;
    letter-spacing: 0.5px;
  }
  &.variant-default {
    background-color: var(--color-gray-lightest);
    color: var(--color-gray-darkest);
  }
  &.variant-dark {
    background-color: var(--color-gray-darker);
    color: var(--color-gray-lightest);
  }
  &.variant-primary {
    background-color: var(--color-main-bg);
    color: white;
  }
}
